# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*
!.env.example

# SQLite database
/data/ordering.sqlite
/data/ordering.sqlite-wal
/data/ordering.sqlite-shm

# OS
.DS_Store
*.pem
Thumbs.db
